@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #E0E8FF;
    background-image:url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size:100% 30%;
     
}

.container{
    width:327px;
    height:567px;
    margin:auto;
    background-color:white;
    background-image:url("images/illustration-hero.svg");
    background-size: 327px, 160px;
    background-repeat: no-repeat;
    border-radius:20px;
    
}

h1{
    font-family: "Red Hat Display";
    font-size: 22px;
    font-weight: 900;
    text-align:center;
    color:#1F2E55;
}

#ordersummary{
    margin-top: 192px;
}

p{
    font-family: "Red Hat Display";
    font-weight: 500;
    font-size:15px;
    text-align:center;
    color:#717FA6;
    margin-top:16px;
    line-height:25px;
}

.pricecontainer{
    width:279px;
    height:81px;
    background-color:#F7F9FF;
    border-radius:11px;
    margin-top:24px;
    margin-left:24px;
    

}

#musiciconpicture{
    margin-top:17px;
    margin-left:16px;
    
}

#annualplan{
    position:absolute;
    display:inline-block;
    font-size:14px;
    margin-top:21px;
    margin-left:20px;
}

#yearlyprice{
    display:inline;
    position:absolute;
    margin-top:43px;
    margin-left:20px;
    font-weight:500;
    font-size:14px;
}

#change{
    display:inline;
    position:absolute;
    font-family:"Red Hat Display";
    font-size:13px;
    font-weight:700;
    color:#382AE1;
    text-decoration-line: underline;
    margin-top:33px;
    margin-left:151px;
    
}

.proceed{
    border-radius:11px;
    width:279px;
    height:50px;
    margin-top:24px;
    margin-left:24px;
    background-color:#382AE1;
    box-shadow: 0px 19px 19px rgb(61 47 230 / 19%);
    
}

#paymenttext{
    font-size: 15px;
    margin:auto;
    color:white;
    padding-top:15px;
    line-height:20px;
}

#cancel{
    font-weight:900;
    margin-top:25px;
    color:#717FA6;
}

.proceed:hover{
    cursor:pointer;
    background-color:#766CF1;
    
}

#change:hover{
    cursor:pointer;
    text-decoration-line:none;
}

#cancel:hover{
    cursor:pointer;
    color:#1F2E55;
}

@media only screen and (min-width: 1440px){
    body{
        background-image:url("images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size:100% 50%;
    }

    .container{
        background-size:auto;
        width:450px;
        height:697px;
    }

    h1{
        font-size:28px;
    }

    #ordersummary{
        margin-top: 265px;
    }

    p{
        width:354px;
        height:78px;
        font-size:16px;
        margin-top:17px;
        margin-left:48px;
        line-height:26px;
    }
    
    .pricecontainer{
        width: 354px;
        height:98px;
        margin-top:20px;
        margin-left:48px;
        
    
    }
    
    #musiciconpicture{
        margin-top:25px;
        margin-left:24px;
        
    }
    
    #annualplan{
        font-size:16px;
        margin-top:25px;
    }
    
    #yearlyprice{
        margin-top:52px;
        font-size:16px;
        width:92px;
        height:21px;
        margin-left:20px;
        
    }
    
    #change{
        margin-top:40px;
        font-size:14px;
        line-height: 18.52px;
        margin-left:206px; 
    }
      
    .proceed{
        border-radius:11px;
        width:354px;
        margin-top:32px;
        margin-left:48px;
    }
    
    #paymenttext{
        font-size: 15px;
    }
    
    #cancel{
        margin-top:47px;

    }
}